// Font-iconmoon
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?ddlgr8');
  src:  url('../font/icomoon.eot?ddlgr8#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?ddlgr8') format('truetype'),
    url('../font/icomoon.woff?ddlgr8') format('woff'),
    url('../font/icomoon.svg?ddlgr8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* vir-color-theme */

$bg-color:#141414;
$color-text:#fffdfe;
$text-hover:#FFC511;
$subline:#999;
$text-link:#eee;
$htext:#b1b1b1;
$loginbg:#0b0b0b;
$createimg:#0d0d0d;
$createbg:#080808;
$black:#000;
$white:#fff;
$redlight:#fc4645;
$green:#00C853;
$sub-btn:#3f3f3f;
$btn-social:#232323;
$btnlogin:#121212;
$bodercolor:#1a1a1a;
$footer:#0f0f0f;
$boder:#2d2d2d;
$yellow-darken-3:#F9A825;
$subtext:#989898;
$collection_bg:#222;
$uploadbg:#0c0c0c;
$form:#131313;
$warning:#ffc107;
$error:#dd2c00;
$Progress:#26a69a;
$hidcolor:#949494;
$defultfont:Roboto,sans-serif;

/* viribal-vertical */
@mixin vertical-in(){
  display:inline-block;
  vertical-align:inherit;
}
@mixin vertical-top(){
  display: inline-block;
  vertical-align: top;
}

@mixin vertical-middle(){
  display: inline-block;
  vertical-align: middle;
}
@mixin vertical-bottom(){
  display: inline-block;
  vertical-align: bottom;
}



/*svg-icon */

.icon-chevron-down:before {
  content: "\e90a";
}
.icon-chevron-thin-down:before {
  content: "\e909";
}
.icon-cheveron-down:before {
  content: "\e908";
}
.icon-chevron-left:before {
  content: "\e900";
}
.icon-chevron-right:before {
  content: "\e901";
}
.icon-ticket:before {
  content: "\e902";
}
.icon-settings:before {
  content: "\e903";
}
.icon-folder-video:before {
  content: "\e904";
}
.icon-view-show:before {
  content: "\e905";
}
.icon-arrow_drop_down:before {
  content: "\e906";
}
.icon-pencil:before {
  content: "\e907";
}
.icon-profile:before {
  content: "\e923";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-compass:before {
  content: "\e949";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-shrink:before {
  content: "\e98a";
}
.icon-shrink2:before {
  content: "\e98c";
}
.icon-cog1:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-cloud-upload:before {
  content: "\e9c3";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-happy2:before {
  content: "\e9e0";
}
.icon-sad:before {
  content: "\e9e5";
}
.icon-sad2:before {
  content: "\e9e6";
}
.icon-wink:before {
  content: "\e9e7";
}
.icon-cool2:before {
  content: "\e9ec";
}
.icon-shocked:before {
  content: "\e9f1";
}
.icon-baffled:before {
  content: "\e9f3";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-backward2:before {
  content: "\ea1f";
}
.icon-forward3:before {
  content: "\ea20";
}
.icon-first:before {
  content: "\ea21";
}
.icon-last:before {
  content: "\ea22";
}
.icon-previous2:before {
  content: "\ea23";
}
.icon-next2:before {
  content: "\ea24";
}
.icon-eject:before {
  content: "\ea25";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-volume-low:before {
  content: "\ea28";
}
.icon-volume-mute:before {
  content: "\ea29";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-volume-increase:before {
  content: "\ea2b";
}
.icon-volume-decrease:before {
  content: "\ea2c";
}
.icon-loop:before {
  content: "\ea2d";
}
.icon-shuffle:before {
  content: "\ea30";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-circle-down:before {
  content: "\ea43";
}




// transition
@mixin transition-property($transitionProperty){
  -webkit-transition-property: $transitionProperty;
  -moz-transition-property: $transitionProperty;
  -ms-transition-property: $transitionProperty;
  -o-transition-property: $transitionProperty;
  transition-property: $transitionProperty;
}
@mixin alltransition($ease-property, $ease-time, $ease){
  -webkit-transition: $ease-property $ease-time $ease;
  -moz-transition: $ease-property $ease-time $ease;
  -ms-transition: $ease-property $ease-time $ease;
  -o-transition: $ease-property $ease-time $ease;
  transition: $ease-property $ease-time $ease;
}
@mixin transition($transition) {
  -webkit-transition: $transition;  
  -moz-transition:    $transition;
  -ms-transition:     $transition; 
  -o-transition:      $transition;
}
@mixin myanimation ($name, $duration, $ease) {
  -webkit-animation: $name $duration $ease;
  -moz-animation:    $name $duration $ease;
  -ms-animation:     $name $duration $ease;
  -o-animation: $name $duration $ease;
  animation: $name $duration $ease;
}

@mixin transform($string){
  -webkit-transform: $string;
  -moz-transform:    $string;
  -ms-transform:     $string;
  -o-transform:      $string;
}
@mixin scale ($factor) {
  -webkit-transform: scale($factor);
  -moz-transform:    scale($factor);
  -ms-transform:     scale($factor);
  -o-transform:      scale($factor);
}
@mixin rotate ($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform:    rotate($deg);
  -ms-transform:     rotate($deg);
  -o-transform:      rotate($deg);
}
@mixin skew ($deg, $deg2) {
  -webkit-transform:       skew($deg, $deg2);
  -moz-transform:    skew($deg, $deg2);
  -ms-transform:     skew($deg, $deg2);
  -o-transform:      skew($deg, $deg2);
}
@mixin translate ($x, $y:0) {
  -webkit-transform:       translate($x, $y);
  -moz-transform:    translate($x, $y);
  -ms-transform:     translate($x, $y);
  -o-transform:      translate($x, $y);
}
@mixin translate3d ($x, $y: 0, $z: 0) {
  -webkit-transform:       translate3d($x, $y, $z);
  -moz-transform:    translate3d($x, $y, $z);
  -ms-transform:     translate3d($x, $y, $z);
  -o-transform:      translate3d($x, $y, $z);
}
@mixin perspective ($value: 1000) {
  -webkit-perspective:  $value;
  -moz-perspective:   $value;
  -ms-perspective:  $value;
  perspective:    $value;
}
@mixin transform-origin ($x:center, $y:center) {
  -webkit-transform-origin: $x $y;
  -moz-transform-origin:    $x $y;
  -ms-transform-origin:     $x $y;
  -o-transform-origin:      $x $y;
}

@mixin opsnav(){
  background: rgb(11,11,11);
  background: linear-gradient(180deg, rgba(11,11,11,1) 0%, rgba(0,0,0,0) 100%);
}

@mixin header-bg(){
	background: -moz-linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(20,20,20,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
	background: linear-gradient(139deg, rgba(20,20,20,1) 39%, rgba(0,0,0,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
	box-shadow:1px 1px 18px rgba(0, 0, 0, 0.41);
}
@mixin header-mob(){
  background: rgb(46,46,46);
  background: linear-gradient(0deg, rgba(46,46,46,1) 0%, rgba(0,0,0,1) 100%);
}

// Animation_vod
@mixin myanimation ($name, $duration, $ease) {
  -webkit-animation: $name $duration $ease;
  -moz-animation:    $name $duration $ease;
  -ms-animation:     $name $duration $ease;
  -o-animation: $name $duration $ease;
  animation: $name $duration $ease;
}

@mixin transform($string){
  -webkit-transform: $string;
  -moz-transform:    $string;
  -ms-transform:     $string;
  -o-transform:      $string;
}
@mixin scale ($factor) {
  -webkit-transform: scale($factor);
  -moz-transform:    scale($factor);
  -ms-transform:     scale($factor);
  -o-transform:      scale($factor);
}
@mixin zoom ($factor) {
  -webkit-transform: scale($factor);
  -moz-transform:    scale($factor);
  -ms-transform:     scale($factor);
  -o-transform:      scale($factor);
}
@mixin rotate ($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform:    rotate($deg);
  -ms-transform:     rotate($deg);
  -o-transform:      rotate($deg);
}
@mixin skew ($deg, $deg2) {
  -webkit-transform:       skew($deg, $deg2);
  -moz-transform:    skew($deg, $deg2);
  -ms-transform:     skew($deg, $deg2);
  -o-transform:      skew($deg, $deg2);
}
@mixin translate ($x, $y:0) {
  -webkit-transform:       translate($x, $y);
  -moz-transform:    translate($x, $y);
  -ms-transform:     translate($x, $y);
  -o-transform:      translate($x, $y);
}
@mixin translate3d ($x, $y: 0, $z: 0) {
  -webkit-transform:       translate3d($x, $y, $z);
  -moz-transform:    translate3d($x, $y, $z);
  -ms-transform:     translate3d($x, $y, $z);
  -o-transform:      translate3d($x, $y, $z);
}
@mixin perspective ($value: 1000) {
  -webkit-perspective:  $value;
  -moz-perspective:   $value;
  -ms-perspective:  $value;
  perspective:    $value;
}
@mixin transform-origin ($x:center, $y:center) {
  -webkit-transform-origin: $x $y;
  -moz-transform-origin:    $x $y;
  -ms-transform-origin:     $x $y;
  -o-transform-origin:      $x $y;
}


@mixin thumdzoom() {
    box-shadow:none;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.1);
    margin:0px 26px !important;
}
@mixin thumbhover(){
    content: '';
    position: absolute;
    z-index: 10;
    background-image: -webkit-gradient(linear,left top,right top,from(#000),to(transparent));
    background-image: -webkit-linear-gradient(left,#000,transparent);
    background-image: -moz-linear-gradient(left,#000,transparent);
    background-image: -o-linear-gradient(left,#000,transparent);
    background-image: linear-gradient(to right,#000,transparent);
    top: 0;
    bottom: 0;
    left:0;
    width: 275px;
}
.v-btn--active:before, 
.v-btn:hover:before, 
.v-btn:focus:before {
    background-color: white !important;
}
.accent--text{
	color:#00E676 !important;

}
.primary--text{
  color:$htext !important;
  caret-color:$white;
}
.crearbtn{
	height:45px !important;
	width:auto !important;
	border:1px solid $boder !important;
	background:$white !important;
	color:$black !important;
  .v-btn__content{
    margin:0 15px;
  }
}
.v-bt{
	height:45px !important;
	width:auto !important;
	border:1px solid $boder !important;
	box-shadow:none !important; 
	font-weight:400;
	font-size:12px;
  .v-btn__content{
    margin:0 15px;
  }
}
.theme--dark.v-table tbody tr:hover:not(.v-datatable__expand-row){
	background:$bodercolor;
}

// movies rating

// movies_thumb_load
.grey.lighten-2 {
    background-color: #252525  !important;
    border-color: #252525 !important;
}


.v-input{
	.v-input__control{
		.v-input__slot{
			.v-slider{
				.v-slider__track__container{
					.v-slider__track{
						background:rgba(222, 222, 222, 0.41) !important;
					}
					.v-slider__track-fill{
						background:$text-hover !important;
					}
				}
				.v-slider__thumb-container{
					.v-slider__thumb{
						background:rgba(222, 222, 222, 0.41);
						&:hover{
							background:$text-hover !important;
						}
						
					}
				}
				.primary--text{
					.v-slider__thumb{
						background:$text-hover !important;
					}
				}
			}
		}
	}	
}
.accent--text{
  color:$text-hover !important;
}
// v-pagination__navigation_style
.pagination{
	.v-pagination{
		li .v-pagination__item--active{
			background:$text-hover !important;
		}
	}
}

.arroow{
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid $white;
	margin: -3px auto 0;
	width: 0;
	height: 0;
	visibility: hidden;
	position:absolute;
	bottom:-12px;
}

.arrow{
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid $text-hover;
	margin: -3px auto 0;
	width: 0;
	height: 0;
	visibility: hidden;
	position:absolute !important;
	bottom:-49px;
  left: 44% !important;
}
@mixin background{
	background:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),
	color-stop(33%,rgba(0,0,0,0)),to(rgba(0,0,0,.85)))
}

@mixin slidertranform{
    transform: translate3d(115px, 0px, 0px);
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    transition-delay: 0ms;
}

@mixin bobopentranform {
  transform:transform .54s cubic-bezier(.5,0,.1,1) 0s,
  -webkit-transform .54s cubic-bezier(.5,0,.1,1) 0s,
  -moz-transform .54s cubic-bezier(.5,0,.1,1) 0s,
  -o-transform .54s cubic-bezier(.5,0,.1,1) 0s
}

@mixin thumbzoom{
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.1);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.1);   
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.1);
	transition: all 200ms ease-in;
	transform: scale(1.1);
}
@mixin zoomout{
  z-index:0;
	position: relative;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1); 
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1); 
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1);
}
@mixin thumbzoomslider{
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.8);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.8);   
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.8);
	transition: all 200ms ease-in;
	transform: scale(1.8);
}
@mixin thumbzoombtn{
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.05);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.05);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.05);
  transition: all 200ms ease-in;
  transform: scale(1.05);
}
@mixin zoomoutbtn{
  position: relative;
  -webkit-transition: all 100ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 100ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 100ms ease-in;
  -moz-transform: scale(1);
  transition: all 100ms ease-in;
  transform: scale(1);   
}
@mixin rightopensrch{
  -webkit-animation: scale-up-hor-right 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation:scale-up-hor-right 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@mixin leftclosesrch{
  -webkit-animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@mixin toptabanimusta{
  -webkit-animation: slide-top 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) 0.2s alternate both;
  animation: slide-top 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) 0.2s alternate both;
}

@mixin toptabanimustacenter {
  -webkit-animation: scale-up-ver-bottom 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.1s alternate both;
          animation: scale-up-ver-bottom 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.1s alternate both;
}

























// leftclosesrch
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  50% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  50% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}


// rightopensrch
@-webkit-keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}

// tab-sliderviewdtls
@-webkit-keyframes slide-top {
  0% {

    -webkit-transform: translateY(25px);
            transform: translateY(25px);
            opacity:0.0;
  }
  50% {

    -webkit-transform: translateY(10px);
            transform: translateY(10px);
            opacity:0.6;
  }
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
            opacity:0.9;
  }
}
@keyframes slide-top {
  0% {

    -webkit-transform: translateY(25px);
            transform: translateY(25px);
            opacity:0.0;
  }
  50% {

    -webkit-transform: translateY(12px);
            transform: translateY(12px);
            opacity:0.5;
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
            opacity:0.9;
  }
}


// tabscale-up-center
@-webkit-keyframes scale-up-ver-bottom {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}
@keyframes scale-up-ver-bottom {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}

